@model List<Model.EF.HotLine>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


@section jsfooter{
    <script src="~/Public/Controller/HotLineController.js"></script>
    <script src="~/Public/dist/js/mustache.min.js"></script>
}
<div class="card">
    <div class="card-header">
        <h3 class="card-title">Hotline</h3>
        <div class="form-group">
            <a href="/Admin/HotLine/Create">
                <button class="btn btn-success btn-lg float-right"
                        type="submit">
                    Thêm mới
                </button>
            </a>
        </div>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Tên </th>
                    <th>Hình ảnh</th>
                    <th>Đường dẫn</th>
                    <th>Ghi chú</th>
                    <th>Hạng mục</th>
                    <th>Trạng thái</th>
                    <th>#</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    <tr id="row_@item.Id">
                        <td>@item.Name</td>
                        <td><img src="@item.Image" class="img-responsive" style=" width:60px; height:60px;" /></td>
                        <td>@item.Link </td>
                        <td>@item.GhiChu </td>
                        <td>@Html.Raw(item.IsChat ? "Hotline" : "Socical") </td>
                        <td><a href="#" class="btn-active" data-id="@item.Id">@Html.Raw(item.Status ? "Kích hoạt" : "Khoá")</a></td>
                        <td>
                            <a href="/Admin/HotLine/Edit/@item.Id">Sửa</a>
                            |
                            @Ajax.ActionLink("Xoá", "Delete", new { @id = item.Id }, new AjaxOptions
                       {
                           Confirm = "Bạn có muốn xoá bản ghi này?",
                           OnComplete = "$('#row_" + @item.Id + "').remove()",
                           HttpMethod = "Delete"
                       })
                        </td>
                    </tr>
                }



            </tbody>

        </table>
        @*@Html.PagedListPager(Model,Page=>Url.Action("Index",new {Page }))*@
    </div>
    <!-- /.card-body -->
</div>









