@model IEnumerable<Model.EF.ScritpHeader>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section jsfooter{
    <script src="~/Public/Controller/ScritpHeaderController.js"></script>
}
<div class="card">
    <div class="card-header">
        <h3 class="card-title">Danh sách header</h3>
        <div class="form-group">
            <a href="/Admin/scritpheader/Create">
                <button class="btn btn-success btn-lg float-right"
                        type="submit">
                    Thêm mới
                </button>
            </a>
        </div>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                   
                    <th>Name</th>
                    <th>Code</th>
                    <th>Ghi chú</th>
                    <th>Trạng thái</th>
                    <th>#</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    <tr id="row_@item.ID">
                        <td>@item.Name</td>
                        <td>@item.Code</td>
                        <td>@item.Note</td>
                        <td><a href="#" class="btn-active" data-id="@item.ID">@Html.Raw(item.Status ? "Kích hoạt" : "Khoá")</a></td>
                        <td>
                            <a href="/Admin/ScritpHeader/Edit/@item.ID">Sửa</a>
                            |
                            @Ajax.ActionLink("Xoá", "Delete", new { @id = item.ID }, new AjaxOptions
                       {
                           Confirm = "Bạn có muốn xoá bản ghi này?",
                           OnComplete = "$('#row_" + @item.ID + "').remove()",
                           HttpMethod = "Delete"
                       })
                        </td>
                    </tr>
                }



            </tbody>

        </table>
        @*@Html.PagedListPager(Model,Page=>Url.Action("Index",new {Page }))*@
    </div>
    <!-- /.card-body -->
</div>











