@model Model.EF.About
@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


@section jsFooter{
    <script>
        $('#btnSelectImage').on('click', function (e) {
            e.preventDefault();
            var finder = new CKFinder();
            finder.selectActionFunction = function (url) {
                $('#txtImage').val(url);
            };
            finder.popup();
        })

        var editor = CKEDITOR.replace('txtContent', {
            customConfig: '/Public/ckeditor/config.js',
        });
    </script>
}
@using (Html.BeginForm("Edit", "About", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class=" register-form">
        <div class="form">
            <div class="note">
                <p>Cập nhật giới thiệu</p>
            </div>
            <section>
                <div class="row" style="border-bottom:solid 3px #dadada">
                    <div class="col-8">

                    </div>
                    <div class="col-sm-4" style="margin-top:10px">
                        @*<button type="submit" class="btn btn-default" style="margin-bottom:10px;color:white; float:right;margin-right:10px">@Html.ActionLink("Trở lại", "Index")</button>*@
                        <input type="submit" value="Lưu" class="btn btn-success" style="margin-bottom:10px;margin-right:10px; float:right" />
                    </div>
                </div>
            </section>
            <section class="content">
                <div class="row">
                    @Html.Hidden("MetaTitle", "Value")
                    <div class="col-12" style="margin-left:10px">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="form-group">
                            <label>Nội dung</label>
                            <div class="col-md-12">
                                @Html.TextAreaFor(model => model.Detail, new { htmlAttributes = new { @class = "form-control" }, @id = "txtContent" })
                                @Html.ValidationMessageFor(model => model.Detail, "", new { @class = "text-danger" })
                            </div>
                        </div>

                    </div>
                    @*<div class="col-4">
            <div class="form-group">
                <label>Hình ảnh</label>
                <div class="col-md-12">
                    @Html.EditorFor(model => model.Image, new { htmlAttributes = new { @class = "form-control", @id = "txtImage" }, id = "txtImage" })
                    <a id="btnSelectImage" href="#">Chọn ảnh</a>
                    @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label>Mô tả</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.MetaDescriptions, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.MetaDescriptions, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>*@

                </div>
            </section>
            <div class="form-horizontal">

            </div>
        </div>
    </div>
}
<style>
    .note {
        text-align: center;
        height: 80px;
        background: -webkit-linear-gradient(left, #0072ff, #8811c5);
        color: #fff;
        font-weight: bold;
        line-height: 80px;
    }

    .form-content {
        padding: 5%;
        border: 1px solid #ced4da;
        margin-bottom: 2%;
    }

    .form-control {
        border-radius: 1.5rem;
    }

    .btnSubmit {
        border: none;
        border-radius: 1.5rem;
        padding: 1%;
        width: 20%;
        cursor: pointer;
        background: #0062cc;
        color: #fff;
    }
</style>



